{{#if profesor}}
<br>
<table class="table table-bordered" id="tabla">
    <thead>
        <tr class="text-center">
            <th class="dato">Id.</th>
            <th class="dato">RFC</th>
            <th class="dato">Nombres</th>
            <th class="dato">Primer apellido</th>
            <th class="dato">Segundo apellido</th>
            <th class="dato">Fecha Nacimiento</th>
            <th class="dato">Direccion</th>  
            <th class="dato">Celular</th>
            <th class="dato">Profesion</th>
            <th class="dato">No. Empleado</th>
        </tr>
    </thead>
    <tbody>
        {{#each profesor}}
        <tr>
            <td class="dato2">{{@index}}</td>
            <td class="dato2">{{rfc}}</td>
            <td class="dato2">{{nombres}}</td>
            <td class="dato2">{{paterno}}</td>
            <td class="dato2">{{materno}}</td>
            <td class="dato2">{{fechaNacimiento}}</td>
            <td class="dato2">{{direccion}}</td>
            <td class="dato2">{{celular}}</td>
            <td class="dato2">{{profesion}}</td>
            <td class="dato2">{{numeroEmpleado}}</td>
            <td class="text-center">
                {{#if opcion}}
                <a href="/statusProf/{{_id}}" class="btn btn-warning" id="baja">No Disponible</a>
                {{else}}
                <a href="/statusProf/{{_id}}" class="btn btn-success" id="ins">Disponible</a>
                {{/if}}
            </td>
            <td class="text-center">
            <a href="/actualizarProf/{{_id}}" class="btn btn-info" id="editar">Editar</a>
          </td>
          <td class="text-center">
            <a href="/eliminarProf/{{_id}}" class="btn btn-danger" id="eliminar">Eliminar</a>
          </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-black">
      <h3>No se han encontrado registros!</h3>
      <br>
      <img src="/icons/sinProfesores.png" class="w-75"/>
    </div>
  </div>
{{/if}}