<link rel="stylesheet" href="https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap5.min.css">
<script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.2/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function() {
      $('#tabla-asignaturas').DataTable({
        "scrollY": "800px",
        "scrollCollapse": true,
        "paging": true,
      });
    });
</script>

{{#if asignatura}}
  <br />
  <div class="table-responsive"></div>
  <table class="table table-bordered" id="tabla-asignaturas">
    <thead>
      <tr class="text-center">
        <th class="dato">Id.</th>
        <th class="dato">Nombre</th>
        <th class="dato">Creditos</th>
        <th class="dato">Horas</th>
        <th class="dato">Status</th>
        <th class="dato" colspan="2">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each asignatura}}
        <tr>
          <td class="dato2">{{@index}}</td>
          <td class="dato2">{{nombre}}</td>
          <td class="dato2">{{creditos}}</td>
          <td class="dato2">{{horas}}</td>
          <td class="text-center">
            {{#if opcion}}
              <a href="/statusAsig/{{_id}}" class="btn btn-warning">No
                Disponible <i class="fa-solid fa-xmark"></i></a>
            {{else}}
              <a
                href="/statusAsig/{{_id}}"
                class="btn btn-success"
              >Disponible <i class="fa-solid fa-check"></i></a>
            {{/if}}
          </td>
          <td class="text-center">
            <a
              href="/actualizarAsig/{{_id}}"
              class="btn btn-info"
              id="editar"><i class="fa-solid fa-gear"></i></a>
          </td>
          <td class="text-center">
            <a
              href="/eliminarAsig/{{_id}}"
              class="btn btn-danger"
              id="eliminar"><i class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-black">
      <h3>No se han encontrado registros!</h3>
      <br />
      <img src="/icons/sinAsignaturas.png" class="w-75" />
    </div>
  </div>
{{/if}}